.navbar-nav
{
    float: right;
    margin-left: 50%;
    overflow: hidden;
}
.bg-ligh
{
    background-color:white !important;
}
.navbar-nav > li > a 
{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 16ox;
    font-family: Verdana;
    
}
.nav-item
{
    margin-right: 0.2%;
}
.nav-link
{
    color: rgb(245, 245, 245) !important
}
.navbar
{
    background: none !important;
    width: 100%;
}